# S3 HMAC access keys for IBM COS
# https://console.bluemix.net/docs/services/cloud-object-storage/iam/service-credentials.html#service-credentials
access_key_id=
secret_access_key=
host_base="s3.eu-de.objectstorage.softlayer.net"
host_bucket="%(bucket)s.s3.eu-de.objectstorage.softlayer.net"
# no leading or trailing /
bucket_name=YOURBUCKET
bucket_url="https://s3.eu-de.objectstorage.softlayer.net/YOURBUCKET"

# IBM Cloud Kubernetes settings
# bx cs cluster-get <yourcluster>
cluster_name=YOURCLUSTER
ingress_subdomain=YOURCLUSTER.eu-de.containers.appdomain.cloud
ingress_secret=YOURCLUSTERSECRET
cluster_namespace=default

# IBM Cloud Registry settings
namespace=registry.eu-de.bluemix.net/YOURNAMESPACE

# Cloudant Service
cloudant_svc_name=todo-cloudant
cloudant_resource_group=default
cloudant_region=eu-de
